doctype html
html
head
  meta content=("text/html; charset=UTF-8") http-equiv="Content-Type"
#league_logo
body
.main_div.container-fluid
  p Thanks for signing up #{@player.first_name + '' + @player.last_name}! A representive from the league will get back you shortly. 