doctype html
html
head
  meta content=("text/html; charset=UTF-8") http-equiv="Content-Type"
#league_logo
body
.main_div.container-fluid
  p Thanks for signing up #{@team.head_coach}! You will be receving a email with your username and password. 