@import "bootstrap";
body {
  // background-color: #010101;
}

#team-listing {
	background-color: #DADFE1;
}

#league_logo {
	background-image: url("midway.jpg");
	width:1100px;
    height:200px;
    background-repeat:no-repeat;
    margin: auto;
    display:block;
}

#side-bar {
	background-color: #DADFE1
}