
/* ...
*= require fullcalendar
*= require_self
*= require_tree .
*/
@import "bootstrap-sprockets";
@import "bootstrap";
.navbar {
  margin-bottom: 0;
  margin-top: 0;
  background-color: #c0392b;
  min-height: 20px;
}

body {
  background-image: url("ball-and-line.jpg");
}

label {
 color :black;
}

p {
  color: black;
  font-family: "Times New Roman", Times, serif;
}


.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-inverse .navbar-brand {
  color: #fff;
  height: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: black;
  background-color: transparent;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: black;
  background-color: transparent;
}

#team-listing {
	// background-color: #DADFE1;
}

#league-logo-left {
	background-image: url("midway.jpg");
	width:400px;
  height:49px;
  background-repeat:no-repeat;
 //  margin-left: 480px;
 //  margin-right: 0px;
  margin-top: 25px;
 //  // margin-bottom: 30px;
  display:block;
}

#league-logo-right {
  background-image: url("midway.jpg");
  width:400px;
  height:49px;
  background-repeat:no-repeat;
  margin-left: 135px;
  margin-right: 0px;
  margin-top: 25px;
  // // margin-bottom: 30px;
  display:block;
}

#bat-center {
  // margin-top: 15px;
  width: 450px;
  height: 100px;
  background-image: url("league_logo_word.png");
  background-repeat:no-repeat;
  // // margin: auto;
  margin-left: 80px;
  margin-top: 15px;
  display:block;
}


#side-bar {
	background-color: #DADFE1;
  white-space: nowrap;
}

.heading-break {
  margin-top: 0px;
  margin-bottom: 10px;
  border-color: red;
}