.team-form {
  text-align: center;
}

.btn-primary {
  background-color: red;
}

.logo {
  width: 50px;
  margin-top: 0;
}

td  {
  text-align: center;
  vertical-align: middle;
}

th  {
  text-align: center;
  width:90px;
}
.roster-td {
  width:80px; 
}

.roster-num {
  width: 15px;
}

.team-record {
  text-align: center;
}

.team-name {
  text-align: center;
}

.logo-div {
  text-align: center;
}

.roster-pos-td {
  width: 10px;
}

.modal {
  top: 35%;
  left: 20%; 
  background-color: red;
  width: 300px;
  height: 300px;
}

#myModalLabel {
  font-size: 110%;    
}