.team-form {
  text-align: center;
}

.btn-primary {
  background-color: red;
}

.logo {
  width: 50px;
  margin-top: 0;
}

td  {
  text-align: center;
  vertical-align: middle;
}

th  {
  text-align: center;
  width:90px;
}
.roster-td {
  width:80px; 
}

.roster-num {
  width: 15px;
}

.roster-pos-td {
  width: 10px;
}